@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ul {
        padding: 0 20px 0 20px;;
    }
    ol {
        padding: 0 30px 0 30px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }
    blockquote {
        //border: 1px solid black;
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }
    .profile-picture {
        height: $image-size;
        width: $image-size;
        position: relative;
        margin: -10px 0 0 15px;
        float: right;
        border-radius: 50%;
        object-fit: cover;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }
    .project {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .project-container {
        min-width: 0;
        @media (min-width: $small-width) {
          flex: 0 1 calc(33% - 1em);
        }
        @media (max-width: $small-width) {
          flex: 0 1 100%;
        }
        height: 40vh;

        img {
          height: 100%;
          width: 100%;
          flex: 0 1 calc(33% - 1em);
          object-fit: cover;
        }
      }
    }
    .project-container .empty {
      visibility: hidden;
    }

    .publication {
      display: flex;
      justify-content: space-between;
      height: 10vh;
      margin-bottom: 1em;

      .publication-image {
        flex: 1;
        margin-right: 2%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .publication-container {
        h4 {
          margin: 0 0 0 0;
        }
        flex: 3;
        p {
          padding: 5;
        }
      }
    }

    img {
        text-align: center;
        width: 100%;
    }
}

.footer {
  a {
    color: black;
    text-decoration: underline;
  }
}
